<link rel="import"  href="../components/polymer/polymer.html">

<link rel="import" href="../components/core-toolbar/core-toolbar.html">
<link rel="import" href="../components/core-icons/core-icons.html">
<link rel="import" 
  href="../components/paper-button/paper-button.html">
<link rel="import" 
  href="../components/paper-icon-button/paper-icon-button.html">
<link rel="import" 
  href="../components/core-header-panel/core-header-panel.html">
<link rel="import" href="../components/core-drawer-panel/core-drawer-panel.html">
<link rel="import" 
  href="../components/core-menu/core-menu.html">
<link rel="import" 
  href="../components/core-item/core-item.html">
<link rel="import" 
  href="../components/core-pages/core-pages.html">
<link rel="import" 
  href="../components/paper-progress/paper-progress.html">
<!--moar routing-->
<link rel="import" href="routes.html">

<!--styling and fonts-->
<link rel="stylesheet" href="../css/app.css" />
<link rel="import" href="../components/font-roboto/roboto.html" />

<!--core-list and core-image for faker-->
<link rel="import" href="../components/core-list/core-list.html">
<link rel="import" href="../components/core-image/core-image.html">

<!--firebase-data.html-->
<link rel="import"  
	href="../components/firebase-element/firebase-element.html">
<link rel="import"  
	href="../components/core-scaffold/core-scaffold.html">

<link rel="import" href="../components/paper-input/paper-input.html">
<link rel="import" href="../components/core-field/core-field.html">

<!--paper toast element, alert boxes-->
<link rel="import" href="../components/paper-toast/paper-toast.html">

<!--paper dialog-->
<link rel="import" href="../components/paper-dialog/paper-dialog.html">


