<polymer-element name="data-forms">
  <template>
        <style type="text/css">
      :host {
        display: block;
        position: relative;
        padding: 20px;
        width: 100%;
        font-size: 1.2rem;
        font-weight: 300;
        padding: 0;
      }

      .cardBody {
        background: #FFF;
        padding: 25px 15px;
        margin: 15px;
        word-wrap: break-word;
        box-shadow: -1px 3px 5px #ECECEF;
      }

      .cardBody:hover {
        box-shadow: -1px 3px 8px #BEBEC2;
      }

      .card-header {
        margin-bottom: 10px;
      }

      .heading {
        margin: 0;
        font-size: 30px;
        font-weight: 300;
      }
      polyfill-next-selector { content: '.card-header img'; }
      .card-header ::content img {
        width: 70px;
        border-radius: 50%;
        margin: 10px;
      }
      core-icon-button {
        position: relative;
        top: 3px;
        right: 3px;
        color: #636363;
        /* border: 1px solid #ececec; */
        border-radius: 7px;
        background: #ececec;
        box-shadow: inset 0px 1px 5px #E2E2E2;
      }
      :host([favorite]) core-icon-button {
        color: #da4336;
      }

      /*spacer*/
      .spacer {
        padding: 15px;
      }

      .subtext {
        font-size: 20px;
      }
    </style>


    <div horizontal layout>

      <div class="cardBody" vertical layout flex>
          <div select="img"></div>
          <div class="heading">Form 1</div>
          <div class="subtext">Subtext comes here</div>
          <br/>
          <div layout horizontal>
            <div>
              <core-icon-button id="favicon"  icon="add-circle" on-tap="{{dialog1}}"></core-icon-button>
                <paper-dialog id="dialog1" heading="Dialog Title">
                <p>Some content</p>
              </paper-dialog>
            </div>
          </div>
      </div>

      <div class="cardBody" vertical layout flex>
          <div select="img"></div>
          <div class="heading">Form 1</div>
          <div class="subtext">Subtext comes here</div>
          <br/>
          <div layout horizontal>
            <div>
              <core-icon-button id="favicon"  icon="add-circle" on-tap="{{dialog2}}"></core-icon-button>
            </div>
          </div>
      </div>

      <div class="cardBody" vertical layout flex>
          <div select="img"></div>
          <div class="heading">Form 1</div>
          <div class="subtext">Subtext comes here</div>
          <br/>
          <div layout horizontal>
            <div>
              <core-icon-button id="favicon"  icon="add-circle" on-tap="{{dialog3}}"></core-icon-button>
            </div>
          </div>
      </div>

    </div>

    <!--spacer--> 
    <div class="spacer"></div>

    <div horizontal layout>

      <div class="cardBody" vertical layout flex>
          <div select="img"></div>
          <div class="heading">Form 1</div>
          <div class="subtext">Subtext comes here</div>
          <br/>
          <div layout horizontal>
            <div>
              <core-icon-button id="favicon"  icon="add-circle" on-tap="{{dialog4}}"></core-icon-button>
            </div>
          </div>
      </div>

      <div class="cardBody" vertical layout flex>
          <div select="img"></div>
          <div class="heading">Form 1</div>
          <div class="subtext">Subtext comes here</div>
          <br/>
          <div layout horizontal>
            <div>
              <core-icon-button id="favicon"  icon="add-circle" on-tap="{{dialog5}}"></core-icon-button>
            </div>
          </div>
      </div>

      <div class="cardBody" vertical layout flex>
          <div select="img"></div>
          <div class="heading">Form 1</div>
          <div class="subtext">Subtext comes here</div>
          <br/>
          <div layout horizontal>
            <div>
              <core-icon-button id="favicon"  icon="add-circle" on-tap="{{dialog6}}"></core-icon-button>
            </div>
          </div>
      </div>

    </div>

    <div class="spacer"></div>

    <div horizontal layout>

      <div class="cardBody" vertical layout flex>
          <div select="img"></div>
          <div class="heading">Form 1</div>
          <div class="subtext">Subtext comes here</div>
          <br/>
          <div layout horizontal>
            <div>
              <core-icon-button id="favicon"  icon="add-circle" on-tap="{{dialog7}}"></core-icon-button>
            </div>
          </div>
      </div>

      <div class="cardBody" vertical layout flex>
          <div select="img"></div>
          <div class="heading">Form 1</div>
          <div class="subtext">Subtext comes here</div>
          <br/>
          <div layout horizontal>
            <div>
              <core-icon-button id="favicon"  icon="add-circle" on-tap="{{dialog8}}"></core-icon-button>
            </div>
          </div>
      </div>

      <div class="cardBody" vertical layout flex>
          <div select="img"></div>
          <div class="heading">Form 1</div>
          <div class="subtext">Subtext comes here</div>
          <br/>
          <div layout horizontal>
            <div>
              <core-icon-button id="favicon"  icon="add-circle" on-tap="{{dialog9}}"></core-icon-button>
            </div>
          </div>
      </div>

    </div>
  </template>

  <script>
    Polymer('data-forms', {
      ready: function(){

      },
     dialog1: function() {
        this.$.dialog1.toggle();
      }
    })
  </script>

  </script>

</polymer-element>