<polymer-element name="oac-editProfile">
  <template>
    <style type="text/css">
      :host {
          color: #000;
          font-family: 'RobotoDraft';
          font-style: normal;
          font-weight: 300;
      }

      .cellTell-input {
        margin-right: 15px;
      }

      paper-button {
          background: #3ABA40;
          color: #fff;
      }

      button {
        border: none;
        background: none;
        padding: 0;
        margin: 0;
      }

      /*spacer to increase the gap at the end of the page*/
      .spacer {
        padding: 25px;
      }

      /*Toast alert to the right*/
      paper-toast {
        right: 10px;
        left: auto;
      } 
    </style>

    <section>
      <form on-submit="{{updatePofile}}">
        <label>Name</label>
        <paper-input-decorator id="decorator" label="{{lableName}}" floatingLabel="{{floatingLabel}}" >
          <input id="inputName" value="{{name}}" required pattern="^[a-zA-Z -]*$" maxlength="15">
        </paper-input-decorator>
        <br/>
        <label>Surname</label>
        <paper-input-decorator id="decorator" label="{{lableSurname}}" floatingLabel="{{floatingLabel}}" >
          <input  id="inputSurname" value="{{surname}}" required pattern="^[a-zA-Z -]*$" maxlength="15"> 
        </paper-input-decorator>
        <br/>

        <label>Email</label>
        <paper-input-decorator id="decorator" label="{{lableEmail}}" floatingLabel="{{floatingLabel}}">
          <input id="input" value="{{emailValue}}" disabled>
        </paper-input-decorator>

        <br/>
        <div layout horizontal>
          <br/>
          <div layout vertical flex>
            <div>
              <core-icon icon="settings-phone"></core-icon>
            </div>
            <div flex>
              <paper-input-decorator id="decorator" label="{{lableTel}}" floatingLabel="{{floatingLabel}}" class="cellTell-input" flex>
                <input id="inputTel" value="{{tel}}" required pattern="^[0-9 ]*$" maxlength="10">
              </paper-input-decorator>
            </div>
          </div>
          <br/>
          <div layout vertical flex>
            <div>
              <core-icon icon="settings-cell"></core-icon>
            </div>
            <div flex>
              <paper-input-decorator id="decorator" label="{{lableCell}}" floatingLabel="{{floatingLabel}}" flex>
                <input id="inputCell" value="{{cell}}" required pattern="^[0-9 ]*$" maxlength="10">
              </paper-input-decorator>
            </div>
          </div>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>

        <label>Address</label>
        <paper-input-decorator id="decorator" label="{{lableAddress}}" floatingLabel="{{floatingLabel}}" >
          <input id="inputAddress" value="{{address}}" required  min='1' maxlength="100">
        </paper-input-decorator>
        <br/>
        <br/>
        <button class="updateProfileBtn" class="submit-button" id="button" type="submit">
          <paper-button on-tap="{{submit}}">UPDATE</paper-button>
        </button>
      </form>
    </section>

    <!--the spacer-->
    <div class="spacer"></div>
    <paper-toast id="profileUpdate" text="Profile Updated Successfully"></paper-toast>
    <paper-toast id="errorUpdating" text="Error updating profile, please try again later"></paper-toast>
  </template>

  <script>
    //access authentication for user login details
    var ref = new Firebase("https://oac-data.firebaseio.com/");
    var authData = ref.getAuth();


    Polymer('oac-editProfile', {
      ready: function(){

          window.globalName = this.$.inputName;
          window.globalSurname = this.$.inputSurname;
          window.globalTel = this.$.inputTel;
          window.globalCell = this.$.inputCell;
          window.globalAddress = this.$.inputAddress;

          // Get a reference to the user database
          var ref = new Firebase("https://oac-data.firebaseio.com/" + this.id );
          ref.on("value", function(snapshot) {
            var detail = snapshot.val();

            if(detail !== null) {
              //assign the items in database to the value of the forms so they are viewable in the forms
              window.globalName.value = detail.name;
              window.globalSurname.value = detail.surname;
              window.globalTel.value = detail.tel;
              window.globalCell.value = detail.cell;
              window.globalAddress.value = detail.address;

              //assign the name off the details so it can be parsed to the database when updated
              window.globalNameValue = globalName.value;
              window.globalSurnameValue = globalSurname.value;
              window.globalTellValue = globalTel.value;
              window.globalCellValue = globalCell.value;
              window.globalAddressValue = globalAddress.value;
            }
          });
        },
        //lables
        floatingLabel: false,
        labelName: 'Name',
        labelSurname: 'Surname',
        labelEmail: "Email",
        labelNumberTell: 'Tell Number',
        labelNumberCell: 'Cell Number',
        labelAddress: "Address",

        //the values of inputs
        emailValue: authData.password.email,
        id: authData.uid,

        //the updated button to give the users an indications that things working
        updatePofile: function(e){
          e.preventDefault();
          var ref = new Firebase("https://oac-data.firebaseio.com/");
          var userRef = ref.child(this.id);
          userRef.update({
            name  : globalName.value,
            surname : globalSurname.value,
            email: this.emailValue,
            tel : globalTel.value,
            cell : globalCell.value,
            address : globalAddress.value
          });
          window.updatedProfile = this.$.profileUpdate;
          updatedProfile.show();
        }
    });

  </script>

</polymer-element>