<polymer-element name="oac-data">
<template>
	<style>
		.send-btn {
			background: none;
			border: none;
			padding: 0 22px;
			margin: 0;
			cursor: pointer;
		}
		core-icon-button {
			background: #CF6666;
		}
		icon {
			color: #fff;
		}
		.layout-class {
			padding: 15px;
			margin-bottom: 40px;
		}
		.user {
			font-weight: 300;
			font-family: robotoDraft;
			font-size: 24px;
		}
		.details {
			padding: 20px;
			background: #F2F2F2;
			border-radius: 4px;
			border: 2px solid #DDDDDD;
			margin: 10px 0;
		}
		/*#messages {
			margin-top: 42px;
		}*/
		.text {
			font-family: robotoDraft;
			font-weight: 200;
			font-size: 20px;
		}
		.focus-chat {
			margin-left: 15px;
		}

		core-scroll-header-panel {
		  position: absolute;
		  top: 0;
		  right: 0;
		  bottom: 0;
		  left: 0;
		  background-color: #eee;
		}

		/* background for toolbar when it is at its full size */
		core-scroll-header-panel::shadow #headerBg {
		  background-color: #333;
		}

		/* background for toolbar when it is condensed */
		core-scroll-header-panel::shadow #condensedHeaderBg {
		  background-color: #333;
		}

		core-toolbar {
		  color: #f1f1f1;
		  fill: #f1f1f1;
		  background-color: transparent;
		}

		.title {
		  -webkit-transform-origin: 0;
		  transform-origin: 0;
		  font-size: 40px;
		}


		.input-box {
			padding: 10px;
			border: none;
			background: #333;
			color: #fff;
			font-family: robotoDraft;
			font-size: 20px;
			font-weight: 200;
		}
		.form {
			background: #fff;
			width: 100%;
		}

		.title {
			font-family: robotoDraft;
			font-weight: 100;
		}

		@media all and (min-width: 768px) {
			.timestamp {
				position: absolute;
				font-size: 5em;
				margin-left: -189px;
				margin-top: -61px;
				color: #E2E2E2;
				font-family: robotoDraft;
				text-shadow: 0px 0px 1px #000000;
				opacity: 0.4;
			}
			.timestamp-small {
				display: none;
			}
		}

	</style>
	<div class="content">
		<div>
			<div class="form">
				<!--the form that will allow posting-->
				<div id="form">
					<form layout horizontal on-submit="{{pushDetails}}">
						<!--<input placeholder="User Name" class="input-box" value="{{user}}" required>-->
						<!--<input placeholder="Message" class="input-box" flex value="{{text}}" required>-->

						<input type='text' id='nameInput' placeholder='Name' value="{{nameInput}}" required>
						<input type='text' id='surnameInput' placeholder='Surname' value="{{surnameInput}}" required>
						<input type='text' id='tell' placeholder='Telephone' value="{{tell}}" required>
						<input type='text' id='cell' placeholder='Cellphone' value="{{cell}}" required>
						<input type='text' id='address' placeholder='Address' value="{{address}}" required>

						<button type="submit" class="send-btn">
							<core-icon icon="{{icon}}" title="{{icon}}"></core-icon>
						</button>
					</form>
				</div>
			</div>

			<div class="layout-class">
				<!--connect to the database-->
				<firebase-element id="database" location="https://oac-data.firebaseio.com/data"
				data="{{item}}" keys="{{keys}}">
				</firebase-element>
				<!--create a template that lists messages-->
				<div id="messages" flex>
					<template repeat="{{key in keys}}">
						<div layout vertical class="details">
							<b class="user">Name: {{item[key].name}}</b>
							<b class="user">Surname {{item[key].surname}}</b>
							<br/>
							<span class="text">Tell: {{item[key].tell}}</span>
							<span class="text">Cell: {{item[key].cell}}</span>
							<span class="text">Address: {{item[key].address}}</span>

						</div>
					</template>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	Polymer('oac-data',{
		img: '',
		text: '',
		icon: 'send',
		pushDetails: function(e){
			e.preventDefault();
			this.$.database.push({
				name: this.nameInput, 
				surname: this.surnameInput,
				tell: this.tell,
				cell: this.cell,
				address: this.address
			});

			this.nameInput = '';
			this.surnameInput = '';
			this.tell = '';
			this.cell = '';
			this.address = '';
		}
	});
</script>
</polymer-element>