<polymer-element name="login-page">
  <template>
    <style>
      :host {
        color: #000;
        font-family: 'RobotoDraft';
        font-style: normal;
        font-weight: 300;
        margin: 0;
        padding: 0;
        height: 100%;
        background: #86C2E7;
      }

      h2 {
        font-size: 20px;
        font-weight: 100;
        color: #6E6E6E;
        text-transform: uppercase;
      }

      #core_card {
        width: 100%;
        height: 100px;
        background-color: #eaeaed;
        transform-style: preserve-3d;
      }

      #core_card_main {
        padding: 25px 15px;
        width: 230px;
        box-shadow: 0px 1px 10px #767676;
        margin: auto;
        background-color: rgb(255, 255, 255);
      }

      #button {
        margin-bottom: 8px;
      }
      
      .login-button {
        background: #82D59C;;
        color: #fff;
        width: 100%;
        margin: 0;
        font-size: 15px;
      }

      .register-button {
        background: #86C2E7;
        color: #fff;
        width: 100%;
        margin: 0;
        font-size: 15px;
      }

      .lostPass-button {
        background: #D58282;
        color: #fff;
        width: 100%;
        margin: 0;
        font-size: 15px;
      }

      .cloud-icon {
        color: #fff;
        width: 200px;
        height: 170px;
      }

      .forgot-password {
        font-size: 14px;
        text-decoration: none;
        color: #9E9E9E;
      }

      core-field {
          border: 1px solid #ececec;
      }

      .submit-button{
        background: none;
        margin: 0;
        padding: 0;
        border: none;
        width: 100%;
      }

      .form-footer-option{
        text-align: center;
      }

      @media all and (max-width: 480px){
        .cloud-icon {
          color: #fff;
          width: 155px;
          height: 140px;
        }
      }

      /*update errors with firefox issues and the required attr*/
      input:required {
          box-shadow:none !important;
      }
      input:invalid {
          box-shadow: none !important;
      }

      /*Toast alert to the right*/
      paper-toast {
        right: 10px;
        left: auto;
      } 
    </style>
        <div layout vertical center hidden?="{{loginView}}">
          <core-icon icon="{{logoIcon}}" title="{{logoIcon}}" class="cloud-icon"></core-icon>
          <core-card id="core_card_main" vertical layout start-justified center>

            <!--login-->
            <form on-submit="{{login}}" hidden?="{{toggleLogin}}" id="login-form">
              <!--<paper-input label="User" value="{{user}}"></paper-input>
              <paper-input label="Password" value="{{password}}"></paper-input>-->
              <core-field>
                <core-icon icon="{{userIcon}}"></core-icon>
                <input type="email" id="loginUser" value="{{loginUser}}" placeholder="login@email.com" flex required>
              </core-field>
              <br/>
              <core-field>
                <core-icon icon="{{passwordIcon}}"></core-icon>
                <input id="loginPassword" value="{{loginPassword}}" type="password" placeholder="**********" flex required>
              </core-field>
              <br/>

              <button class="submit-button" id="button" on-tap="{{toDashboard}}" type="submit"><paper-button class="login-button">
                <!--<core-icon icon="check"></core-icon>-->
                Login
              </paper-button></button>
              <br/>
              <a class="submit-button" id="button" on-tap="{{toggleRegister}}"><paper-button class="register-button">
                <!--<core-icon icon="check"></core-icon>-->
                Register
              </paper-button></a>
              <br/>
              <br/>
              <div class="form-footer-option">
                <a href="#" class="forgot-password" on-tap="{{toggleLostPass}}">Forgot Password</a><br>
              </div>
            </form>

            <!--register-->
            <form on-submit="{{register}}" hidden?="{{RegisterToggle}}" id="register-form" >
              <core-field>
                <core-icon icon="{{userIcon}}"></core-icon>
                <input type="email" id="registerUser" value="{{registerUser}}" placeholder="register@email.com" flex required >
              </core-field>
              <br/>
              <core-field>
                <core-icon icon="{{passwordIcon}}"></core-icon>
                <input id="registerPassword" value="{{registerPassword}}" type="password" placeholder="**********" flex required>
              </core-field>
              <br/>
              <button class="submit-button" id="button" type="submit"><paper-button class="register-button">
                <!--<core-icon icon="check"></core-icon>-->
                Register
              </paper-button></button>
              <br/>
              <a class="submit-button" id="button" on-tap="{{toggleRegister}}"><paper-button class="login-button">
                <!--<core-icon icon="check"></core-icon>-->
                Login
              </paper-button></a>
            </form>

            <!--Lost Password-->
            <form on-submit="{{reset}}" hidden?="{{toggleLost}}" id="register-form" >
              <core-field>
                <core-icon icon="{{lostPasswordIcon}}"></core-icon>
                <input type="email" id="lostPass" value="{{lostPass}}" placeholder="registered@email.com" flex required>
              </core-field>
              <br/>

              <button class="submit-button" id="button" type="submit"><paper-button class="lostPass-button">
                <!--<core-icon icon="check"></core-icon>-->
                Get Password
              </paper-button></button>
              <br/>
              <a class="submit-button" id="button" on-tap="{{toggleLostPass}}"><paper-button class="login-button">
                <!--<core-icon icon="check"></core-icon>-->
                Login
              </paper-button></a>
            </form>
            
          </core-card>
        </div> 

        <!--login-->
        <paper-toast id="loggingIn" text="Logging In.."></paper-toast>
        <paper-toast id="loginFail" text="Error Logging in, please check your username and password"></paper-toast>

        <!--forgot password-->
        <paper-toast id="sendingPassword" text="Password reset email sent successfully"></paper-toast>
        <paper-toast id="errorSendingPassword" text="Unable to send password at this time, please try again later"></paper-toast>

        <!--registering-->
        <paper-toast id="creatingUser" text="User account created successfully"></paper-toast>
        <paper-toast id="errorCreatingUser" text="Unable to create account at this time, please try again later"></paper-toast>



  </template>
  <script>

    Polymer('login-page', {
      ready: function(){
        //make sure polymer loads the popups on load so they will be ready for use
        window.loggingIn = this.$.loggingIn;
        window.loginFail = this.$.loginFail;

        window.sendingPassword = this.$.sendingPassword;
        window.errorSendingPassword = this.$.errorSendingPassword;

        window.creatingUser = this.$.creatingUser;
        window.errorCreatingUser = this.$.errorCreatingUser;

      },
      //icons
      logoIcon: 'cloud-queue',
      userIcon: 'perm-identity',
      lostPasswordIcon: 'lock',
      passwordIcon: 'lock',

      //views and states
      RegisterToggle: true,
      toggleLost: true,
      toggleLogin: false,

      //the functions for the binded elements
      toggleRegister: function(){
        this.toggleLogin = !(this.RegisterToggle = this.toggleLogin);
      },
      toggleLostPass: function(){
        this.toggleLogin = !(this.toggleLost = this.toggleLogin);
      },
      register: function(e){
        e.preventDefault();
        var ref = new Firebase("https://oac-data.firebaseio.com/");
        ref.createUser({
          email    : this.registerUser,
          password : this.registerPassword
        }, function(error, userData) {
          if (error) {
            errorCreatingUser.show();
            console.log("Error creating user:", error);
          } else {
            creatingUser.show();
            console.log("Successfully created user account with uid:", userData.uid);
          }
        });
        this.registerUser = '';
        this.registerPassword = '';
      },

      login: function(e){
        e.preventDefault()
        var ref = new Firebase("https://oac-data.firebaseio.com/");
        ref.authWithPassword({
          email    : this.loginUser,
          password : this.loginPassword
        }, function(error, authData) {
          if (error) {
            loginFail.show();
            console.log("Login Failed!", error);
          } else {
            loggingIn.show();
            console.log("Authenticated successfully with payload:", authData);
            location.href = "dashboard.html";
          }
        });
      },

      reset: function(e){
        e.preventDefault();
        var ref = new Firebase("https://oac-data.firebaseio.com/");
        ref.resetPassword({
            email : this.lostPass
          }, function(error) {
          if (error === null) {
            sendingPassword.show();
            console.log("Password reset email sent successfully");
          } else {
            errorSendingPassword.show();
            console.log("Error sending password reset email:", error);
          }
        });
        this.lostPass = '';
      }
    });
  </script>
</polymer-element>