<link rel="import" href="../components/more-routing/more-routing.html">

<more-routing-config driver="hash"></more-routing-config>

<more-route name="data" path="/"></more-route>
<more-route name="edit" path="/edit"></more-route>
<more-route name="forms" path="/forms"></more-route>
<more-route name="logout" path="/logout"></more-route>