<link rel="import" href="data-forms.html">

<polymer-element name="user-dashboard">
  <template>
    <style type="text/css">
      :host {
          color: #000;
          font-family: 'RobotoDraft';
          font-style: normal;
          font-weight: 300;
      }

      core-toolbar {
        background-color: #86C2E7;
        color: #fff;
      }

      core-item .item {
        color: #000;
        text-decoration: none;
      }

      section {
        text-align: justify;
        width: 80%;
        margin: 0 auto;
      }

      .pagesHeading {
        font-family: 'RobotoDraft';
        font-size: 50px;
        font-weight: 300;
      }

      /*drawer panel styling*/

      [main] {
        background-color: #f9f9f9;
      }
      [drawer] {
        background-color: #fff;
      }

      /*Icon polymer*/
      .polymer {
        height: 48px;
        width: 48px;
      }

      hr{
         border-color: rgba(207, 199, 199, 0.23);
      }

      /*loading bar colors*/
      paper-progress::shadow #activeProgress {
        background-color: #86C2E7;
      }
      paper-progress::shadow #progressContainer {
        background-color: #F4ECEC;
      }

      /*the showing of name and email on head lable*/
      #welcomeOrgnl {
        position: absolute;
        top: 35%;
        left: 100px;
        word-wrap: break-word;
        width: 100%;
      }

      /*media queries*/
      @media all and (max-width: 480px) {
        #welcomeOrgnl{
          top: 37%;
          font-size: 16px;
        }
      }

      /*Toast alert to the right*/
      paper-toast {
        right: 10px;
        left: auto;
      } 
    </style>

      <core-drawer-panel>
        <core-header-panel drawer>
          <core-toolbar>
            <div>Menu</div>
          </core-toolbar>

            <more-route-selector>
              <core-menu>
                <core-item route="data">
                  <span class="item" href="{{urlFor('data')}}">Data</span>
                </core-item>
                <core-item route="forms">
                  <span  class="item" href="{{urlFor('forms')}}">Forms</span>
                </core-item>
                <core-item route="edit">
                  <span  class="item" href="{{urlFor('edit')}}">Edit Profile</span>
                </core-item>
                <core-item on-tap="{{logout}}" route="logout">
                  <span class="item" href="#">Logout</span>
                </core-item>
              </core-menu>
          </more-route-selector>
        </core-header-panel>

        <core-header-panel main>
          <core-toolbar>
            <paper-icon-button core-drawer-toggle icon="menu"></paper-icon-button>
            <div vertical class="bottom indent">
              <div class="AppHeading">
                <core-icon icon="{{welcomeIcon}}"></core-icon>
                <div id="welcomeOrgnl">{{welcome}}</div>
                
              </div>
            </div>
            <span flex></span>
            <paper-icon-button icon="search"></paper-icon-button>
            <paper-progress class="bottom fit" id="progressVal" style="{{stylingProgress}}" value="{{load}}" ></paper-progress>
          </core-toolbar>
          <div class="content">
              <div layout vertical>

                <more-route-selector selectedParams="{{routedParams}}">

                  <core-pages>
                  <section route="data">
                    <h1 class="AppHeading pagesHeading">Data</h1>
                    <hr/>
                    <br/>
                    <span class="content">
                    Data Page Content - Blah Blah Blah<br>
                    <br>
                      <!--the data of the users-->
                      <oac-data></oac-data>
                    </span>
                  </section>

                  <section route="forms">
                    <h1 class="AppHeading pagesHeading">Forms</h1>
                    <hr/>
                    <br/>
                    <span>
                    <data-forms></data-forms>
                    </span>
                  </section>


                  <section route="edit">
                    <h1 class="AppHeading pagesHeading">Edit Profile</h1>
                    <hr/>
                    <br/>
                    <oac-editProfile></oac-editProfile>
                  </section>

                  <!--the fix for the logout not logging out completly, need to not have it anchor to homepage before logougt-->
                  <section route="edit">
                    <!--leave this blank-->
                  </section>
                  
                  </core-pages>

                </more-route-selector>

              </div>
          </div>
        </core-header-panel>
      </core-drawer-panel>
      <paper-toast id="loggedIn" text="Logged In Successfully"></paper-toast>
    </template>

  <script>

    //polymer
    Polymer('user-dashboard', {
      //ready
      ready: function(){
        //check current state and login
        //if user never logged out then redirect back to dashboard
        var ref = new Firebase("https://oac-data.firebaseio.com/");
        var authData = ref.getAuth();
        if (authData) {
          window.loggedIn = this.$.loggedIn;;
          loggedIn.show();
        }

        //the loading bar function loading on startup
        this.loadingBar();

        //set global varable to get the id of the div where the name will be 
        window.welcomeOrgnl = this.$.welcomeOrgnl;

        // Get a reference to our posts
        var ref = new Firebase("https://oac-data.firebaseio.com/" + this.id );
        ref.on("value", function(snapshot) {
          var detail = snapshot.val();
            if((detail !== null) && (detail.name !== ' ')){
              window.welcomeOrgnl.innerHTML = detail.name;
            } else {
              //fallback option if user does not insert a name in the field in the profile page
              window.welcomeOrgnl.innerHTML = authData.password.email;
            }
        });
      },

      //the loading bar on the dashboard
      loadingBar: function(){
        if(this.load++ <= 100){
          this.async(this.loadingBar, null, 15); 
        }
      },
      load: 0,

      //id reference
      id: authData.uid,

      //binding headings and icons to the dashboard
      welcomeIcon: 'perm-identity',
      logout: function(){
        ref.unauth();
        location.href="index.html";
      }
    });
  </script>

</polymer-element>